<h1>Planet: <%= @planet.name %></h1>
<h3>Distance from the Sun: <%= @planet.dist_from_sun %></h3>
<h3>Equatorial diameter: <%= @planet.eq_diameter %></h3>
<h3>Orbital period: <%= @planet.orbit_period %></h3>