<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <!-- 'inverse' is used in Bootstrap 4.0, 'dark' is supposed to work in Bootstrap 4.1 -- except that it doesn't. Frustrating! -->
      <div class="col-4 navbar-title">
  			Planets of the Solar System
  		</div>
  	</nav>

    <br class="clear" />

    <%= yield %>
  </body>
</html>
