<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
      <!-- Pinched this^ from Bootstrap help pages-->
      <div class="col-4 navbar-title">
  			Planets of the Solar System
  		</div>
  	</nav>

    <br class="clear" />

    <%= yield %>
  </body>
</html>
